*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profile-pic{
    margin-top: 5px;
    margin-left: 5px;
}
.icons img{
    width: 50px;
    padding: 10px;
}
.head{
    display: flex;
    justify-content: space-between;
    background-color: rgb(226, 13, 226);
}
.heading{
    margin-top: 80px;
    color: white;
}
.icons{
    border: 1px solid black;
    height: 50px;
    background-color: white;
    margin: 10px;
}
.links{
    padding: 10px;
    background-color: lightblue;
}
.links ul{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
.links li{
    list-style: none;
}
.links li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.content{
    /* display: flex; */
    background-color: grey;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.para{
    float: left;
}
.para-img img{
    float: left;
    height: 100%;
    position: absolute;
    right: 200px;
    width: 40%;
}
.para{
    width: 30%;
    text-align: left;
    border: 2px dotted blue;
    padding: 40px;
    background-color: rgb(101, 184, 225);
    margin: 0 30px;
    word-spacing: 20px;
}
.coding img{
    height: 200px;  
    padding: 20px;
}
.coding{
    display: flex;
    justify-content: space-evenly;
    background-color: lightblue;
}
.text{
    position: relative;
}
.text h3{
    border: 2px solid red;
    padding: 10px 8px;
    text-align: center;
    width: 175px;
    position: absolute;
    left: 20px;
    top: 121px;
    color: black;
    font-size: 30px;
}
.css h3{
    width: 115px;
}
.js h3{
    width: 205px;
}
.php h3{
    width: 138px;
}
.family{
    width: 100%;
    position: relative;
    background-image: url(images/blue.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-top: 3px;
    border: 1px solid black;
}
.fam{
    float: left;
    width: 32%;
    height: 400px;
    margin-left: 10px;
    text-align: center;
}
.fam-img img{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 10px 0;
    box-shadow: 5px 10px;
    
}
.fam-name{
    margin: 10px 0;
    color: green;
    font-size: 30px;
    text-shadow: 0 2px 5px black;
}
.fam-para{
    width: 50%;
    position: relative;
    left: 100px;
    margin: 20px;
    color: white;
}
.circle{
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    border-radius: 50%;
}
.align-1{
    position: absolute;
    top: 11px;
    left: 150px;
    z-index: 1;
    opacity: 0.8;
}
.circle{
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    border-radius: 50%;
}
.align-2{
    position: absolute;
    top: 11px;
    left: 650px;
    /* left: 750px; */
    z-index: 1;
    opacity: 0.8;
}
.circle{
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    border-radius: 50%;
}
.align-3{
    position: absolute;
    top: 11px;
    right: 175px;
    z-index: 1;
    opacity: 0.8;
}
.circle:hover{
    display: none;
}
footer{
    background-color: rgb(239, 239, 112);
    padding: 20px;
    text-align: center;
}